.container-image{
    -webkit-column-count:4;
    -moz-column-count:4;
    column-count:4;
    -moz-column-width: 33%;
    column-width: 33%;
    padding: 0 12px;
    margin: 3rem 10rem;

}


.container-image .photos{

    -webkit-transition: all 350ms ease;
    transition: all 350ms ease ;
    cursor: pointer;
    margin-bottom:12px ;

}

.container-image .photos:hover{
    filter: opacity(.8);

}

@media (max-width:991px){

    .container-image{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    padding: 0 0px;
        margin: 3rem 5rem;
}
}

@media (max-width:580px){


    

    .container-image{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
        padding: 0 0px;
        margin: 3rem 5rem;
}
}



.model{
     width: 100%;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    justify-content: center; 
     
     backdrop-filter:blur(8px) ;
     transition: opacity .4s ease, visibility .4s ease, transform .5s ease-in-out; 
    visibility: hidden; 
     opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 999; 
}

.model.open{
    /* width: 100%; */
    /* height: auto; */
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.model img{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 20px 0 20px;
    margin: 0 auto;
}

.svg{
    position: fixed;
    top: 10px;
    right: 10px;
    width: 2rem;
    height: 2rem;
    padding: 5px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 50%;
}

.svg:hover{
    background-color: rgb(211, 219, 226);
}