*{
    margin: 0px 0px;
    padding: 0px 0px;
    /* display: flex; */
}

.full-container{
    
   
   
    min-height: 82vh;
    
    align-items: center;
  
   
  
}

.header{
    height: 55vh;
    width: 100%;
    background: rgba(0,0,0,0.7) url(./images/six.jpg);
    background-size: cover;
    background-blend-mode: darken;
   align-items: center;
    opacity:90 ;
    color: #ffff;
       
  
    

}


.header h1{
    font-size: 6rem;
    padding-top: 8rem;
}




/* .header{
    display: flex;
    flex-direction: column;
    background-color:red ;
} */




.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 0 rem;

   
    
    
}

/* .container .card{
    position: relative;
    max-width: 300px;
    height: 215px;
    background: skyblue;
    margin: 60px 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 10px;
   
    display: flex;
    flex-direction: column;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.3s ease-in-out;
    

} */


.container .card{
    /* overflow: hidden; */

    position: relative;
    max-width: 300px;
    height: 320px;
    background: rgb(167, 218, 238);
    margin: 60px 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 10px;
   
    display: flex;
    flex-direction: column;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.3s ease-in-out;
    

}


.container .card:hover{
    margin-bottom: 30px;
    filter: brightness(95%);
    
    


}



/* .container .card:hover{
    height: 320px;


} */


.container .card .imgbx{
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    overflow: hidden;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
}



.container .card .imgbx img{
    max-width: 100%;
    border-radius: 4px;
   
   
}


.container .card .imgbx img:hover{

    transform:scale(1.2) ;
    transition: 1s;
    filter: brightness(70%);

    
}
/* .container .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3 ease-in-out;
} */

/* .container.card .content{
    position: relative;
    margin-top: -140px;
} */

.container .card .content{
    position: relative;
   
    padding: 4px 15px;
    text-align: center;
    margin-top: -40px;
   
    transition: 0.3 ease-in-out;
}

.btn button{
    width: 10rem;
    height: 2rem;
    margin-top: 12px;
    border-radius: 12px;
    border-style: none;
    background-color: #0578b5;
    color: #ffff;
    transition: transform 80ms ease-in;
    cursor: pointer;


}

button:active{
    transform: scale(0.90);

}

.btn button:hover{

    background:#031867 ;

}


@media (max-width:511px){

    .header h1{
        font-size: 3rem;
        padding-top: 6rem;
    }  

    .header{
        height: 35vh;
    }

}


@media (max-width:891px){
    .header h1{
        font-size: 3rem;
        padding-top: 6rem;
    }  

    .header{
        height: 35vh;
    }  

}





/* .container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
    transition: 0.8 ease-in-out;


} */

